@charset "UTF-8";

bode{
  font-family: 'Times New Roman', Times, serif;
}
a{
  color: red;
  text-decoration: none;  /*  RETIRA A DECORAÇÃO DO TEXTO. LINHAS EMBAIXO, POR EXEMPLO*/
  font-weight: bold;
}
a:visited{    /*  É UMA PSEUDO CLASSE NA QUAL CONFIGURA OS ITENS ACESSADOS ENTRE VISTOS  E NÃO VISTOS */
  color: blue;
}

a:hover{  /*  ação de quando o mouse estiver por cima*/
  color: black;
  text-decoration: underline;
  
}

a:active{ /*  pra mostrar que o item esta sendo clicado*/
  color: yellow;
}


a::before{ /*  É UM PSEUDO ELEMENTO QUE ADICIONA ALGO AO LINK...É BOM PRA COLOCAR SIMBOLOS. POR EXEMPLO */
  content: " >>>>> :";
  color: rgb(168, 41, 218);
}
a::after{  /*  É UM PSEUDO ELEMENTO QUE ADICIONA ALGO AO LINK...É BOM PRA COLOCAR SIMBOLOS. POR EXEMPLO */
  content: " <<<<< ";
  color: rgb(168, 41, 218);
  
}