@charset "UTF-8";


body{
  background-color: greenyellow;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


/*
id é caracterizado po #
e a class é caracterizado por .
*/


/* comando 
"span"
serve pra intervir dentro do paragrafo e dar uma classe a ele
*/


h1{
  color: blue;
}
.principal{
  text-align: center;
}
h2{
  color: brown;
}

p{
  color: coral;
}